# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/Classes1/nbproject/private/
/Classes1/build/
/Classes2/nbproject/private/
/Classes2/build/
/Matrizes/build/
/Matrizes/nbproject/private/
/Vetores1/nbproject/private/
/Vetores1/build/
/Vetores2/nbproject/private/
/Vetores2/build/
/Vetores2/dist/
/Vetores3/nbproject/private/
/Vetores3/build/
/Vetores4/nbproject/private/
/Vetores4/build/
/Vetores5/nbproject/private/
/Vetores5/build/
/Enumeracoes/nbproject/private/
/Enumeracoes/build/
/HerançaEPolimorfismo/nbproject/private/
/HerançaEPolimorfismo/build/
/ClassesAbstratas/nbproject/private/
/ClassesAbstratas/build/
/TratamentoExcecoes/nbproject/private/
/TratamentoExcecoes/build/
